body{
    background-color: rgb(4, 17, 20);
    color: aliceblue;
    padding: 20px;
}

img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

td:not(.small), th:not(.small) {
    text-align: left;
    width: 20rem;
}
td{
    border-bottom: 0.5px solid aliceblue;
    text-align: left;
    align-items: center;
}
.red{
    color: red;
}
.green {
    color: green
}

.ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-bottom: 20px;
    
}
.ulimg{
    height: 100px;
    width: 100px;
    
}
.favcont{
    margin-right: 40px;
    border-radius: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.582);
    /* box-shadow: 2px 2px 4px rgba(129, 129, 129, 0.275); */
    padding: 20px;
    text-align: center;
    justify-content: center;
    
}
tr{
    height: 40px;
    
}
